%strong= t 'user.index'
%p 
  =link_to t('user.create'), new_admin_user_path

%table
  %tr
    %th= User.human_attribute_name(:name)
    %th= User.human_attribute_name(:surname)
    %th= User.human_attribute_name(:email)
    %th{:colspan => 3}
  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.surname
      %td= user.email
      %td= link_to "Edit", edit_admin_user_path(user)
      %td= link_to "Show", admin_user_path(user)
      %td= link_to "Delete", admin_user_path(user), 
      method: :delete, 
      data: { confirm: "Are you sure?" }
