%strong= t 'user.index'
%p 
  =link_to t('user.create'), new_admin_user_path, class: "btn btn-success"

%table.bs-10
  %tr.row
    %th.col-md-3= User.human_attribute_name(:name)
    %th.col-md-3= User.human_attribute_name(:surname)
    %th.col-md-3= User.human_attribute_name(:email)
    %th{:colspan => 3}
  - @users.each do |user|
    %tr.row
      %td.col-md-2= user.name
      %td.col-md-2= user.surname
      %td.col-md-2= user.email
      %td.col-md-2= link_to t(:edit), edit_admin_user_path(user), class: "btn btn-warning"
      %td.col-md-2= link_to t(:show), admin_user_path(user), class: "btn btn-primary"
      %td.col-md-2= link_to t(:delete), admin_user_path(user), class: "btn btn-danger",
      method: :delete, 
      data: { confirm: "Are you sure?" }
