%p
  %strong.col-md-2= User.human_attribute_name(:name)
  = @user.name
%p
  %strong.col-md-2= User.human_attribute_name(:surname)
  = @user.surname
%p 
  %strong.col-md-2= User.human_attribute_name(:email)
  = @user.email
%p 
  %strong.col-md-2= User.human_attribute_name(:role)
  = @user.role
%p 
= link_to t(:back), admin_users_path, class: "btn btn-link"