%strong= t 'product.index'
%p
  =link_to t('product.create'), new_admin_product_path, class: "btn btn-success"

%table.bs-10
  %tr.row
    %th.col-md-3= Product.human_attribute_name(:name)
    %th.col-md-3= Product.human_attribute_name(:price)
    %th.col-md-3= Product.human_attribute_name(:amount)
    %th{:colspan => 3}
  - @products.each do |product|
    %tr.row
      %td.col-md-2= product.name
      %td.col-md-2= humanized_money_with_symbol product.price
      %td.col-md-2= product.amount
      %td.col-md-2= link_to t(:edit), edit_admin_product_path(product), class: "btn btn-warning"
      %td.col-md-2= link_to t(:show), admin_product_path(product), class: "btn btn-primary"
      %td.col-md-2= link_to t(:delete), admin_product_path(product), class: "btn btn-danger",
      method: :delete, 
      data: { confirm: t(:confirmation) }