%p
  %strong.col-md-2= Product.human_attribute_name(:name)
  = @product.name
%p
  %strong.col-md-2= Product.human_attribute_name(:price)
  = humanized_money_with_symbol @product.price
%p 
  %strong.col-md-2= Product.human_attribute_name(:amount)
  = @product.amount
%p 
  %strong.col-md-2= Product.human_attribute_name(:short_description)
  = @product.short_description
%p 
  %strong.col-md-2= Product.human_attribute_name(:full_description)
  = @product.full_description
%p
= link_to t(:back), admin_products_path, class: "btn btn-link"