= render "web/admin/shared/navbar"

%p
  %strong= t 'product.name'
  = @product.name
%p
  %strong= t 'product.price'
  = humanized_money_with_symbol @product.price
%p 
  %strong= t 'product.amount'
  = @product.amount
%p 
  %strong= t 'product.short_description'
  = @product.short_description
%p 
  %strong= t 'product.full_description'
  = @product.full_description
%p
= link_to "#{t :back}", admin_products_path
