= simple_form_for [:admin, @order] do |f|
  %p
    -# = f.association :products, label_method: :full_name, value_method: :id, as: :check_boxes
    -# <%= f.association :owner_type, :include_blank => false, :label_method => lambda { |owner| "#{owner.name} | #{owner.subtype_name}" } %>

  -# %p
  -#   = f.input :amount
  %p
    = f.submit

= link_to t(:back), admin_orders_path