%h2= t 'order.show'

- @order.order_products.each do |order_product|
  %p= link_to order_product.product.name, admin_product_path(order_product.product)
  %p= "#{order_product.amount} #{t(:products_amount)},
  #{humanized_money_with_symbol(order_product.total_price_per_product)}"

%p= "#{Order.human_attribute_name(:total_price)}: #{humanized_money_with_symbol(@order.total_price)}"

= link_to t(:back), admin_orders_path